[2016-01-07 12:03] jnehring opened #1 "Add e-translation e-service to e-service"
- Move codes
- Move integration tests
- Add XML configuration
- Include in broker-standalone package

[2016-01-07 14:17] jnehring opened #2 "Add e-terminology"
- Move codes
- Move integration tests
- Add XML configuration
- Include in broker-standalone package

[2016-01-08 14:23] jnehring opened #3 "Register git commit hook for Jenkins"
Related to https://github.com/freme-project/basic-services/issues/9

[2016-01-14 08:17] #3 closed, assigned to PeterBourgonje

[2016-01-14 10:44] #2 closed, assigned to jmschnei

[2016-02-10 14:35] #1 closed, assigned to jnehring

[2016-03-24 13:13] jnehring opened #4 "Migrate DBPedia Spotlight to new architecture"

[2016-03-24 14:25] jnehring opened #5 "Problems with e-Link service"
Unit tests dont of e-Link do not work

[2016-03-24 15:01] jnehring opened #6 "Rename e-link configuration file"
from linking.xml to e-link.xml

[2016-03-24 15:02] jnehring opened #7 "e-link manage endpoints"
Before the endpoint was /e-link/templates . Now it is called /e-link/manage . In order to work with clients it has to change its name back to /e-link/templates

[2016-03-29 13:48] jnehring commented on #6
done

[2016-03-29 13:48] #6 closed

[2016-03-29 14:29] jnehring opened #8 "No more templates in e-Link"
[This link](http://api-dev.freme-project.eu/current/e-link/manage) shows that there are no templates in the database on freme-dev. The MySQL table contains 42 rows.

[2016-03-30 09:02] jnehring commented on #7
probably caused by freme-project/basic-services#31

[2016-03-30 09:02] jnehring commented on #5
freme-project/basic-services#31

[2016-03-30 13:04] #4 closed

[2016-03-30 13:05] josauder commented on #4
This is done - moved Service and Unit Test

Dbpedia-Spotlight Endpoint can be configured using `application.properties`.
Parameter `freme.eentity.dbpediaSpotlightEndpointUrl` defaults to `http://spotlight.nlp2rdf.aksw.org/spotlight`

Unit Test tests against mockup endoint at `http://localhost:8080/mockups/file/response.ttl`

[2016-04-05 07:52] jnehring commented on #8
The link has changed: http://api-dev.freme-project.eu/current/e-link/templates

But it still does not work.

[2016-04-05 12:16] ArneBinder commented on #8
this is part of [this issue](https://github.com/freme-project/FREMECommon/issues/20)

[2016-04-05 12:16] #8 closed

[2016-04-05 18:15] ArneBinder commented on #7
solved by freme-project/basic-services#31

[2016-04-06 07:47] #7 closed

[2016-04-06 07:57] jnehring commented on #5
fixed

[2016-04-06 07:57] #5 closed

[2016-04-06 13:44] ArneBinder opened #9 "remove e-capitalization"
this is moved to freme-examples

[2016-04-07 07:24] jnehring commented on #9
done

[2016-04-07 07:24] #9 closed

[2016-04-11 16:23] ArneBinder opened #10 "[e-link][explore][ldf] broken on freme 0.4 and following?"
`post /e-link/explore ldf` seems to be broken. The following curl does not work:
[code]
result:
[code]

explore sparql still works:
[code]

[2016-04-11 16:41] ArneBinder commented on #10
I un-ignored the JUnit tests, they work (with the mockup endpoint).

[2016-04-12 13:57] jnehring commented on #10
**I can reproduce the problem.

Explore sparql endpoint works:

[code]

I checked the logfiles. There is a NullPointerException and a stack trace:

[code]

@m1ci any idea whats wrong?

[2016-04-12 14:04] m1ci commented on #10
hard to say, no changes has been done in the recent period

[2016-04-19 13:25] m1ci commented on #10
I tried to find the issue but without success.
The issue seems to be between Jena/LDF dependencies in FREME.
Probably something has changed during the migration to the new architecture.

[2016-04-19 14:12] jnehring commented on #10
The problem happens on FREME live which still runs the old architecture. Sorry milan this is an old bug :)

Does the bug occur on dbpedia only or is the endpoint LDF explore generally broken?

[2016-04-19 14:23] m1ci commented on #10
not really, see bellow :)

Very valid question, just checked and this particular LDF endpoint is broken. The LDF explore API is OK.  For example, the ORCID endpoint (http://rv2622.1blu.de:5000/orcid) is working. Here is example:

`curl -X POST --header "Content-Type: application/json" --header "Accept: text/turtle" "http://api.freme-project.eu/0.5/e-link/explore?resource=http%3A%2F%2Forcid.org%2F0

[2016-04-20 07:51] jnehring commented on #10
When it happens only at DBPedia then I guess the problem lies within DBPedia LDF endpoint and not within our codes. So we can do nothing about it. I leave the issue open so we can test it again in a few weeks. Maybe it solves itself by the next update in DBPedia.

[2016-04-20 14:13] ArneBinder opened #11 "e-services-parent still imports common2"
via test-helper:0.2 --> users & logging:0.1 --> (parent) filters-parent:0.1 --> (parent) basic-services-parent:0.1

[2016-04-21 14:17] jnehring commented on #11
Thanks for the information. I will take care for this at the release next week.

[2016-05-02 10:06] jnehring commented on #11
fixed during the release

[2016-05-02 10:06] #11 closed

[2016-05-04 09:46] bjdmeest opened #12 "problem with e-internationalization"
following command fails

`curl -X POST --header "Content-Type: text/html" --header "Accept: text/html" -d "<p>Dissident Chinese artist Ai Weiwei has been refused a six-month visa by the British government amid claims he lied on his visa application form. Ai posted a letter on Instagram stating his entry to the UK had been restricted because he failed to declare his \"criminal conviction\". But Ai,

[2016-05-04 10:38] jnehring commented on #12
I can reproduce the problem. The error message is

[code]

I think the problem originates from e-internationalization and HTML roundtripping because it works when I set "Accept: text/turtle".

We will check if the problem originates from the e-Internationalisation filter or from the underlying e-Internationalization API. When it originates from the filter, we can fix it. Otherwise we need to wait

[2016-05-10 14:08] jnehring commented on #12
I fixed the bug through a configuration change in the broker. e-Internationalisation was executed twice, once in the broker and once in freme-ner. So I added the freme-ner endpoint to the e-internationalisation blacklist on the broker.

@bjdmeest please verify that the problem is fixed and close the issue if it is ok now.

[2016-05-11 06:51] bjdmeest commented on #12
Fixed, thanks!

[2016-05-11 06:51] #12 closed

[2016-05-24 09:47] jnehring commented on #10
Maybe this will be fixed by updating Jena: https://github.com/freme-project/e-Link/issues/69

[2016-06-03 08:52] jnehring opened #13 "Switch off monitoring for e-link/explore"
It reports too many errors, I think the test it broken.

[2016-06-06 11:50] ArneBinder commented on #13
I disabled this.

[2016-06-06 11:50] #13 closed

[2016-06-08 12:15] jnehring opened #14 "Call to Tilde e-Translation fails"
curl -X POST --header "Content-Type: txt/html" --data "@SB50.html" "http://api-dev.freme-project.eu/current/e-translation/tilde?source-lang=en&target-lang=de"

[SB50.txt](https://github.com/freme-project/e-services/files/304723/SB50.txt)

This might fix https://github.com/freme-project/e-internationalization/issues/35

[2016-06-08 13:43] jnehring commented on #14
The call fails at Tilde. This CURL

[code]

using this [test.txt](https://github.com/freme-project/e-services/files/304869/test.txt)

produces http status 500 (internal server error) and the message
[code]

@andish can you please take a look?

[2016-06-08 14:35] andish commented on #14
seems that there is an error on longer text for translation. I will invest this

[2016-06-09 06:45] andish commented on #14
The reason is because the sample contains a sentence that contains more than 200 words. In natural language texts such cases do not exists. But as it is copied from wikipedia and all text concatenated into single sentence, it leads to the error: "sentence too long".
This is sentence:
[code]

[2016-06-09 12:09] jnehring commented on #14
So I guess that the bug at least for this example will be fixed by https://github.com/freme-project/e-Internationalization/issues/39 because it will introduce a lot of linebreaks and break the long sentence

[2016-06-14 11:32] bgrusdt opened #15 "[e-link/templates] LIMIT as request param in template"
I would like to build an e-link/template that has a variable LIMIT such that the limit can be specified in a parameter in the request:
[code]
I wanted to check the syntax in the template with id=116 since it is referenced to in the [documentation](http://api-dev.freme-project.eu/doc/api-doc/full.html#!/e-Link/createTemplate), but it does not exist. The documentation says that  LIMIT @@@my_limit@@@

[2016-06-20 10:02] m1ci commented on #15
@bgrusdt what is the template ID? do you use the dev or the production API endpoint?

[2016-06-20 11:42] bgrusdt commented on #15
Do you mean the ID of the template that is supposed to include such a variable LIMIT ? In the documentation there is a curl example which refers to a template with id=116:
[code]
 I used the dev API endpoint.

[2016-06-20 11:59] m1ci commented on #15
There is no such template with ID=116, see http://api-dev.freme-project.eu/current/e-link/templates/116?outformat=json

[2016-06-20 14:59] ArneBinder opened #16 "[zabbix] fix monitoring"
The web scenarios in the zabbix templates
* Template E-LINK explore ldf
* Template E-ENTITY Freme-NER

are disabled because they do not work. They should be fixed and re-enabled.

[2016-06-23 07:53] bgrusdt commented on #15
Yes, I mentioned template 116 because it is supposed to contain the syntax for the variable LIMIT parameter in the SPARQL construct query which I am looking for.   I thought the template might maybe exist somewhere I am not aware of.  How do I specify the limit as variable in the sparql construct query such that I can use a limit parameter in the request ?  This is mentioned [here](http://api-dev.

[2016-06-27 10:09] ArneBinder commented on #10
I can not reproduce thsi anymore, is it fixed? Can we close this?

[2016-06-27 17:37] ArneBinder opened #17 "[e-Terminology] does not work with e-internalisation formats"
It just finds terms in plaintext and nif. Sending this:

[code]

to `http://api-dev.freme-project.eu/current/e-terminology/tilde?informat=text/html&source-lang=en&target-lang=en` produces:

[code]

Sending just the contained plaintext produces this:

[code]

This could be related to [this issue](https://github.com/freme-project/freme-workflow-editor/issues/28).

[2016-06-28 07:58] m1ci commented on #15
Here is an example of a query which takes the LIMIT as parameter:

[code]

[2016-06-28 09:23] pheyvaer opened #18 "e-Terminology: request possible source-lang and target-lang pairs"
This allows to automatically provide users with the correct options, instead of hard-coding it.

[2016-06-28 09:24] pheyvaer opened #19 "e-Terminology: request poosible collections and domain-ids"
So developers don't need to hard-code this.

[2016-06-28 09:25] pheyvaer opened #20 "e-Translate: request source-lang and target-lang pairs"

[2016-06-28 09:26] pheyvaer opened #21 "e-Translate: request domain and system ids"

[2016-06-28 11:16] m1ci commented on #15
@ArneBinder can you give an example for which values it works/does not work? Thx.

[2016-06-28 11:42] ArneBinder commented on #15
@m1ci I figured out that this is not an issue of the user defined parameter. Sometimes (really randomly) I get a BadRequestExecption. I assume this is because the calculations are to slow and time out. Somehow this results in throwing this kind of exception. At the moment I do not know which is the initially thrown exception to catch it correctly.

[2016-06-28 11:46] ArneBinder commented on #15
It seems to be `HttpException: 502`.

[2016-06-28 12:13] m1ci commented on #15
if it is timeout then it should be 504.

[2016-06-30 09:14] ArneBinder opened #22 "[e-link] throws BadRequest randomly"
moved from https://github.com/freme-project/e-services/issues/15#issuecomment-229026166

Furthermore we should examine when this happens and what causes the 502.

[2016-06-30 09:18] ArneBinder commented on #15
@jnehring should we add the template 116 to the `init-templates.sql` script? I opened #22 for the BadRequestException bug.

[2016-06-30 09:19] ArneBinder commented on #22
@m1ci any ideas what could cause the 502?

[2016-06-30 09:52] bjdmeest opened #23 "[e-link_dev] bad HTML return"
when I run following curl, the returned HTML is all mangled up, it's like the spans are placed one letter too much to the right.

[code]

[2016-07-06 15:52] ArneBinder commented on #23
This seems to be a bug of e-Internalisation. Sending the raw text content works fine, as expected:
[code]

[2016-07-06 15:52] ArneBinder commented on #23
Moved to https://github.com/freme-project/basic-services/issues/55.

[2016-07-06 15:52] #23 closed

[2016-07-06 17:16] ArneBinder commented on #17
This is caused by tilde: `services.tilde.com/Terminology` does not understand input with leading `\n`.
Compare the result of this call:
[code]
which is:
[code]

with the result of this call:
[code]
which is:
[code]

[2016-07-08 10:14] m1ci commented on #22
It seems to be caused by one of these lines:

https://github.com/freme-project/e-services/blob/master/e-link/src/main/java/eu/freme/eservices/elink/api/DataEnricher.java#L80

https://github.com/freme-project/e-services/blob/master/e-link/src/main/java/eu/freme/eservices/elink/api/DataEnricher.java#L180

[2016-07-09 14:26] ArneBinder commented on #15
I tried template 116 with [this data](https://github.com/freme-project/e-services/blob/master/e-link/src/main/resources/data/test-for-template-1.ttl):
[code]

and got strange behaviour for different values of my_limit:

| my_limit | count(museums) |
|----------|----------|
| 1        | 1        |
| 2        | 2        |
| 3        | 3        |
| 4        | 4        |
| 5        | 4        |
| 6

[2016-07-09 14:29] ArneBinder commented on #22
I can not reproduce this anymore but will change the error message when I'm back in office.

[2016-07-11 10:42] jnehring commented on #15
What does template 116 do?

[2016-07-11 11:25] ArneBinder commented on #15
It is the same as template 1 except a parametrized LIMIT.
See: http://api-dev.freme-project.eu/current/e-link/templates/116

[2016-07-11 11:46] m1ci commented on #15
@ArneBinder

This seems to be caused by the timeout set by the sparql endpoint.
This is a solution to the query within the constraints of a timeout.
This Virtuoso feature is critical to enabling the whole world use the specific SPARQL endpint rather than specific queries monopolizing processing time.

See related discussion here
https://github.com/openlink/virtuoso-opensource/issues/112

[2016-07-11 12:29] jnehring commented on #15
The information is necessary in the documentation. I think it is not necessary to add this to init-templates.sql.

[2016-07-11 12:37] jnehring commented on #17
@andish can you please comment on this bug?

[2016-07-11 12:42] ArneBinder commented on #15
@m1ci thanks for your explanation! So this is not a real bug...

@jnehring

ok

at the moment there is a paragraph at the api-doc at `POST /e-link/templates/` explaining the user defined parameter functionality. I think this is not the best place for this. Where should we put this?

[2016-07-11 12:59] andish commented on #17
E-terminology do not understand string escapes, it treats \n as two separate characters.
https://www.w3.org/TR/turtle/#string

This is on my TODO list.

[2016-07-11 14:24] andish commented on #17
Should be resolved. Please check and close.

[2016-07-11 14:52] #15 closed

[2016-07-11 15:48] ArneBinder commented on #17
@andish It works, thanks!

[2016-07-11 15:48] #17 closed

[2016-07-13 13:00] jnehring commented on #22
When the external API returns 502, then FREME should return 502 also. Together with an error message "The remote triple store could not be reached.". @ArneBinder please implement

[2016-07-13 14:42] ArneBinder commented on #22
Implemented.

[2016-07-13 14:42] #22 closed

[2016-07-14 12:46] jnehring opened #24 "[e-Terminology] Dropped calls"
@koidl reported that calls to e-Terminology get dropped. I checked the logfile and I cannot see log messages that indicate that a calls is dropped because of server overload. It is still possible that the server is overloaded though. I need some more information:
- What exactly do you mean by "Dropped call"? What is the http status code and does FREME provide more information like an error message

[2016-07-14 14:20] jnehring commented on #10
The error still occurs. Now the CURL (see first comment) produces

[code]

I still think that the problem originates from within DBPedia.

[2016-07-14 14:25] xFran commented on #24
Dropping the connection.

I can't provide status code. Most of the time we get connection timeout.

We use multiple services.

Monday and Tuesday i ran some tests.

I do the same amount of calls for multiple services. The pipelines to get the labels, we used e-Terminology (this is the service we get connection timeout more often), one Aylien service (no issues here) and some times for testing thin

[2016-07-18 09:32] ArneBinder commented on #10
It is really strange that I get a result if `endpointType` is set to `sparql` (but using the ldf endpoint!):
[code]

Btw using endpointType=ldf gives this:
[code]

especially: **Only triples or default graph data expected : named graph data ignored**
Perhaps this can help in resolving this.

[2016-07-18 10:47] jnehring commented on #10
@ArneBinder please do not invest more time on this. We think that this problem is dbpedia specific and the feature is not used by anyone anyways.

[2016-07-21 09:58] jnehring commented on #24
We further discussed this via email and now the issue is delayed for some weeks.

[2016-07-21 11:20] jnehring opened #25 "[e-Entity] Change default input format to turtle"
The default input format of e-entity/dbpedia-spotlight/documents is text/plain. It should be text/turtle. Please change this in the dbpedia spotlight e-service.

[2016-07-25 10:03] bgrusdt commented on #25
dbpedia spotlight correctly throws an exception with the following request (from documentation and locally with dbpedia version in freme-parent pom set to 4 and 5.0-SNAPSHOT, @jnehring  do you still dont get an exception?).
`http://api-dev.freme-project.eu/current/e-entity/dbpedia-spotlight/documents?input=Welcome+to+Germany+,+the+capital+of+Germany+.&confidence=0.3&language=en`

When informat and

[2016-07-25 11:14] jnehring commented on #25
Ok I did not know that postman adds plaintext as default content type header. So this is not a bug.

[2016-07-25 11:14] #25 closed

[2016-07-27 13:25] jnehring commented on #16
@ArneBinder please fix this when you are done with other issues. especially the test for freme ner is important.

[2016-07-28 17:09] xFran opened #26 "Pipelines for labels are failing"
[code]

This command worked before and now I get this error

[code]

Any idea why?

This is urgent!! We use it in production.

[2016-07-29 08:43] jnehring commented on #26
I investigate on this

[2016-07-29 08:46] jnehring commented on #26
It works now. @xFran please try again.

[2016-07-29 08:50] xFran commented on #26
It's working. Thank you @jnehring.

[2016-08-01 18:10] ArneBinder commented on #16
This should be fixed. @jnehring please close, if it looks alright to you.

[2016-08-02 08:17] ArneBinder commented on #16
Yes. Just Freme live, freme ner live and the solr server are checked.

[2016-08-02 09:04] jnehring opened #27 "[e-Link] Can we add data?"
Is it possible to create an e-Link template to insert data into an RDF graph? This would be interesting for WRIPL so they can add data the FREME triple store using the FREME API. It would also be interesting for the DKT project because we have a pipeline and want to persist the outcome in the triple store.

[2016-08-02 11:34] jnehring commented on #26
What is the problem? When I execute the CURL then I get status code 200 and json ld data so it looks fine to me.

[2016-08-02 11:37] xFran commented on #26
I just reopen this issue because we have the same problem. The servers are failing.

You said you investigated on this. What is/was the problem?

[2016-08-02 11:40] jnehring commented on #26
I opened this issue here: https://github.com/freme-project/FREMECommon/issues/22

[2016-08-02 11:42] xFran commented on #26
Ok. so I close this one and I follow https://github.com/freme-project/FREMECommon/issues/22

[2016-08-03 06:57] m1ci commented on #27
The current implementation of e-Link does not consider such use case.
If one want to insert data into a triple store via the SPARQL interface, this can be done as described in the SPARQL 1.1 Update spec (https://www.w3.org/TR/sparql11-update/). In other words, send Insert SPARQL request to the endpoint.

[2016-08-04 07:37] jnehring commented on #27
Thanks for the answer. We will not use e-link to insert data in the triple store but use this approach: https://github.com/freme-project/freme-ner/issues/132

[2016-08-04 07:37] #27 closed

[2016-08-05 23:25] xFran commented on #26
The service is failing again.

"STATUS_CODE": 400,
        "CONTENT": {
            "exception": "eu.freme.common.exception.BadRequestException",
            "path": "\/pipelining\/chain",
            "message": "Request 0: java.net.UnknownHostException: api.freme-project.eu",
            "error": "Bad Request",
            "status": 400,
            "timestamp": 1470439348896
        }

[2016-08-08 09:11] jnehring commented on #26
The problem is again https://github.com/freme-project/FREMECommon/issues/22

I restarted FREME live. Is the problem solved? Can we close the issue?

[2016-08-08 13:13] jnehring opened #28 "[e-link] unit test fails"
On Jenkins, an e-Link unit test fails.

[2016-08-10 13:18] jnehring commented on #16
Works fine!

[2016-08-10 13:18] #16 closed

[2016-08-10 14:50] #26 closed

[2016-08-18 08:13] bgrusdt commented on #28
The problem was that no  endpoint was provided when the template is constructed. I changed this and  it  works on Jenkins now.  So I close this.

[2016-08-18 08:45] jnehring commented on #14
We will not fix this on the FREME side but I leave the issue open so the problem is documented.

[2016-08-22 14:46] ArneBinder commented on #28
This wasn't the problem, but the content of the mockup-endpoint response conflicted in any way with the test case. Sniffing into the reponse of the dbpedia sparql response shows that the DataEnricher receives the following content from the endpoint:

[code]

After changing the content of the mockup endpoint file `linking-ELINK.ttl` to the above content the test doesn't fail anymore.

[2016-08-23 08:23] jnehring commented on #28
What do you suggest? Using a turtle file with other data?

[2016-08-23 08:40] bgrusdt commented on #28
I have had a look at it again. I changed the linking-ELINK.ttl file, which is returned by the mockup-endpoint and on which the sparql query is executed. Now it only contains two triples which contain the resource Berlin which in turn is contained in the NIF-content we sent to the endpoint.
This works now. I also added a assertTrue statement which makes sure that the response of the e-link request

[2016-08-23 09:48] jnehring commented on #28
Sounds good. Lets see what @ArneBinder says about it.

[2016-08-23 09:59] jnehring opened #30 "[e-Translation] implement NIF 2.1"
Please implement changes to implement NIF 2.1 annotations. The use of annotation units should be switched on / off using a parameter "nif-version=2.0" or "nif-version=2.1" with the default value being "2.0"

[2016-08-25 12:22] jnehring opened #31 "Update dbpedia spotlight to NIF 2.1"
FREME does not generate any NIF when using DBPedia spotlight. The conversion from plaintext to NIF is done at DBPedia spotlight. Also the annotations are generated by DBPedia spotlight. So it is hard for us to update the output of dbpedia spotlight to NIF 2.1.

@m1ci what are the plans regarding dbpedia spotlight and nif 2.1? is an update planned?

[2016-08-25 12:26] m1ci commented on #31
on FREME side we can update the return from dbpedia spotlight so that it is NIF 2.1 ready.

[2016-08-26 13:05] m1ci opened #32 "wrong documentation example for e-terminology"
The example in the simple documentation is wrong.
http://api-dev.freme-project.eu/doc/api-doc/simple.html#!/e-Terminology/e_terminology
[code]

does not contain #offset_0_11

[code]

please check also the other examples.

[2016-08-29 07:42] jnehring commented on #32
@bgrusdt please use the [nif converter](http://api-dev.freme-project.eu/doc/api-doc/full.html#!/Toolbox%2FNIF-Converter/post_toolbox_nif_converter) to re-create examples for e-translation and e-terminology.

[2016-08-29 08:56] bgrusdt commented on #32
I have created and added the [new examples](http://api-dev.freme-project.eu/doc/api-doc/simple.html#!/e-Translation/tildeTranslate).

[2016-08-29 08:56] #32 closed

[2016-08-29 12:29] jnehring commented on #28
This issue is finished

[2016-08-29 12:29] #28 closed

[2016-08-30 09:35] jnehring opened #33 "[e-link] special characters"
We have a lot of error messages in the log files because of special characters in e-Link, e.g.

[code]

The problem is that the resource URL is not a valid. The character `³` needs to be URL encoded. Therefore Jena fails.

I played around with the [dbpedia sparql endoint](http://dbpedia.org/snorql/) and I was not able to formulate a sparql query that fetches any information about `http://dbpedia.o

[2016-08-30 09:38] m1ci commented on #33
to me it works, try
http://dbpedia.org/sparql/?default-graph-uri=http%3A%2F%2Fdbpedia.org&query=select+*%0D%0Awhere+%7B%0D%0A%3Chttp%3A%2F%2Fdbpedia.org%2Fresource%2FAmerica%C2%B3%3E+%3Fp+%3Fo+.%0D%0A%7D&format=text%2Fhtml&CXML_redir_for_subjs=121&CXML_redir_for_hrefs=&timeout=30000&debug=on

the sparql query is
[code]

[2016-08-30 09:41] jnehring commented on #33
It does not work in the SNORQL endpoint: http://dbpedia.org/snorql/?query=select+*%0D%0Awhere+%7B%0D%0A%3Chttp%3A%2F%2Fdbpedia.org%2Fresource%2FAmerica%C2%B3%3E+%3Fp+%3Fo+.%0D%0A%7D

But anyways, it is more important to deal with it in e-Link.

[2016-08-30 11:12] andish commented on #30
Nif version parameter at Tilde endpoints is implemented both for ***e-Translation*** and ***e-Terminology***.
By default is ```&nif-version=2.0```.
Should be implemented also at Freme server side.

[2016-08-31 11:13] sandroacoelho commented on #31
Hi @m1ci , @jnehring

I will upgrade our NIF wraper to 2.1 for DBpedia Spotlight.

[2016-09-01 07:52] jnehring commented on #30
This issue is solved

[2016-09-01 07:52] #30 closed

[2016-09-01 07:53] jnehring opened #36 "[e-Translation] Change Tilde MT Endpoint"
When the new Tilde MT Endpoint supports the nif-version parameter then we need to change the URL of Tilde MT endpoint from dev to live.

@andish please tell me when you release Tilde MT so we can do the change.

[2016-09-05 07:08] andish opened #37 "PUBLIC FREME: external services fails because of "Bad Gateway""
For e-Terminology and E-Translation:
[code]

For E-entity:
https://api.freme-project.eu/current/e-entity/freme-ner/documents?language=en&dataset=dbpedia&mode=all
[code]

Tested with public version - Full documentation:
http://api.freme-project.eu/doc/current/api-doc/full.html#!/e-Terminology/e_terminology

[2016-09-05 07:15] jnehring commented on #37
I could fix this through a restart of FREME live. This is a dublicate of this bug: https://github.com/freme-project/FREMECommon/issues/22

[2016-09-05 07:15] #37 closed

[2016-09-07 07:44] jnehring commented on #24
@xFran do you still have this problem?

[2016-09-13 08:02] jnehring opened #39 "Separate user accounts for Tilde services"
When we install Tilde at our partner sites, we need different user accounts for each partner. So the user acccount needs to be configurable in the application.properties configuration file.

@andish how do we pass authentication credentials to Tilde services? Currently we pass a header "Authentication". Do we have to submit a separate value for Authentication for each installation?

[2016-09-14 09:26] andish commented on #39
Authentication is realized using Basic authentication. It means that an authorization token is enough for bringing to global configuration file (it contains encoded username+password). Also URL would be grate if could be placed in configuration file, so we would change api endpoint and authorization without rebuilding the freme server.
So for each e-service following properties would be good to br

[2016-09-14 09:36] jnehring commented on #39
In [e-Translation](https://github.com/freme-project/e-services/blob/master/tilde-services/src/main/java/eu/freme/eservices/tilde/translation/TildeETranslation.java#L136) and [e-Terminology](https://github.com/freme-project/e-services/blob/master/tilde-services/src/main/java/eu/freme/eservices/tilde/terminology/TildeETerminology.java#L147) we send the authentication token in the request header "Aut

[2016-09-14 09:37] andish commented on #39
yes, exactly.

[2016-09-14 10:46] jnehring commented on #39
@ArneBinder please

1) make the authentication token a configuration parameter in e-Terminology and e-Translation. Put the configuration in /home/u231015/freme-configs/broker-dev-private.properties on freme-dev because it should not be public. There should be separate parameters for e-Translation and e-Terminology.
2) add documentation about the authentication token parameter and the parameter to

[2016-09-14 11:53] pheyvaer opened #40 "[E-Terminology] Tests fail"
E-Terminology build fails with the latest version, getting the following errors.

[code]

When running the `broker-local` without the tests, I get
[code]

[2016-09-14 12:11] jnehring commented on #40
will take a look

[2016-09-14 14:40] jnehring commented on #40
Are you sure? I ran the test locally and [on Jenkins](http://rv1443.1blu.de:8082/job/e-services/280/console) and it worked fine.

The class NIFVersionNotSupportedException was introduced earlier this week in freme-common package. Maybe you need to do a git pull? Or update freme-common in another way?

[2016-09-15 09:14] #40 closed

[2016-09-19 08:36] bjdmeest opened #41 "/current/ bad gateway"
both
[code]

and
[code]

return a 502 bad gateway

[2016-09-19 09:39] jnehring commented on #41
i think it is this problem.

https://github.com/freme-project/FREMECommon/issues/22

i restarted freme live. can you please test again and check if the problem is solved?

[2016-09-19 09:39] #41 closed

[2016-09-22 08:35] andish commented on #20
Tilde endpoint now returns list of available systems in json format, which includes information about system IDs, domains, language pairs.
Curl:
[code]
Optional qyery parameter - 'key' (in order to retrieve private systems).

Response example:
[code]
@jnehring how it would be implemented in FREME server? new endpoint?

[2016-09-22 08:37] andish commented on #21
Dublicate  of #20 e-Translate: request source-lang and target-lang pairs.
The system list will include also this information.

[2016-09-22 08:49] andish commented on #19
Tilde endpoint now returns list of available collections in json format.
Curl:

[code]

Optional query parameter  (in order to retrieve private systems):
- key

Optional query parameters for filtering (to return filtered list of collections):
- sourceLang
- targetLang
- domain

Example of response:
[code]

TO DO: include it in FREME server.

[2016-09-22 09:01] andish commented on #18
Tilde endpoint now returns list of available languages and domains in json format.
## Languages

Curl:
[code]

Optional query parameter  (in order to retrieve languages from private collections):
- key

Example of response:
[code]

## Domains

Curl:
[code]

Optional query parameter  (in order to retrieve also domains for private collections):
- key

Example of response:
[code]

TO DO: include in F

[2016-09-22 13:07] jnehring commented on #18
We can include this in the FREME endpoints. @pheyvaer is this still a requirement?

[2016-09-22 13:08] pheyvaer commented on #18
This would make the CKEditor plugin more dynamic, instead of hardcoding all the language pairs.

[2016-09-22 13:08] jnehring commented on #19
We can include this. @pheyvaer is this still a requirement?`

Do we actually need to provide this as a FREME endpoint? Users could call the service directly. This also applies to #18

[2016-09-22 13:09] #21 closed

[2016-09-22 13:10] pheyvaer commented on #19
No, not at the moment.

[2016-09-22 13:10] jnehring commented on #20
@pheyvaer  is this still a requirement? Are you going to use this service?

Do we actually need to provide this as a FREME endpoint? Users could call the service directly.

[2016-09-22 13:11] pheyvaer commented on #20
Yes, for the CKEditor plugin.

[2016-09-22 13:13] jnehring commented on #18
Ok. @bgrusdt please add a new API endpoint for this.

[2016-09-22 13:13] jnehring commented on #20
@bgrusdt please implement a new API endpoint for this.

[2016-09-22 13:14] pheyvaer commented on #18
Aah sorry I thought this was about e-Translation. We don't use e-Terminology, so you can skip it for this service.

[2016-09-22 13:16] jnehring commented on #18
Ok lets not implement this now but I will leave the issue open to document the new Tilde endpoint.

[2016-09-26 13:05] jnehring opened #42 "[tilde services] fix unit tests"
TildeETerminologyTest.java and TildeETranslationTest.java have compilation errors. Currently they are commented out. The tests need to be fixed.

[2016-10-04 09:17] jnehring commented on #36
We agreed on a developers call that we can change to the live version of Tilde MT. @bgrusdt please implement and test this.

[2016-10-04 11:21] jnehring commented on #42
The tests where fixed by an update of test-helper. I updated the versions to the latest numbers, removed the comments from the test and it works again.

[2016-10-04 11:21] #42 closed

[2016-10-04 12:47] jnehring commented on #20
@pheyvaer how about you request this data directly from tilde? Maybe this is easier then creating a new FREME endpoint for this that merely proxies the data.

[2016-10-04 12:48] pheyvaer commented on #20
Works also for us :)

[2016-10-04 12:55] jnehring commented on #36
done

[2016-10-04 12:55] #36 closed

[2016-10-04 12:56] jnehring commented on #20
ok then lets do it that way.

[2016-10-06 12:35] bjdmeest commented on #20
Thanks! moved to https://github.com/freme-project/CKEditor-Plugin/issues/27 :)

[2016-10-06 12:35] #20 closed

[2016-10-07 11:37] borriellom opened #43 "[e-Translation] Translated sentences contain terms annotations"
When chaining services and e-Terminology is invoked before e-Translation, the latter inserts terms annotations in the target sentence .

I don't know if that is how it is supposed to work or if it is an actual issue.

**Example**

*Sentence to be translated*
[code]

*Response from e-Translation when invoked as first service*
[code]

*Response from e-Translation when invoked after e-Terminology* (j

[2016-10-10 11:01] andish commented on #43
Yes, this is a bug. We are working on this.

[2016-10-10 12:15] m1ci opened #44 "no provenance info in e-terminology"
Using the API dev documentation page
https://api-dev.freme-project.eu/doc/api-doc/simple.html#!/e-Terminology/e_terminology
I submitted content for processing and in the output there is no provenance information present (`itsrdf:taAnnotatorsRef`).

here is what I get
[code]

[2016-10-10 12:30] andish commented on #44
Above is example of NIF 2.0.
NIF 2.1 introduce provenance info.
Trial form should generate NIF 2.1 version specific examples and call.

[2016-10-10 12:33] m1ci commented on #44
I see, so if I add nif-version=2.1 then there should be provenance info, right?

[2016-10-10 12:35] andish commented on #44
Yes, here is an example:
[code]

[2016-10-10 12:36] m1ci commented on #44
thanks, clear now!

[2016-10-10 12:36] #44 closed

[2016-10-10 12:51] jnehring opened #45 "Add nif version annotation to e-Translation and e-Terminology output"
When nif-version=2.1 is set then e-Services should add rdf data to annotate the nif version. This is already implemented in freme ner ([example](http://api-dev.freme-project.eu/current/e-entity/freme-ner/documents?language=en&dataset=dbpedia&mode=all&nif-version=2.1&input=Welcome+to+Berlin!&outformat=turtle&informat=text)). The added RDF is:

[code]

This will prevent problems like [#113](https://

[2016-10-10 13:06] andish commented on #45
I don't think that each e-service should add such general info.
Context collection (nif:ContextCollection) should be created by client submitting the NIF or by FREME server while converting from any format to NIF.
Of course, the FREME server can normalize/tune up/refine the NIF ducument, but this should be done in one place not in each e-service.

[2016-10-10 13:09] jnehring commented on #45
I see your point. @m1ci what do you think=

[2016-10-10 13:11] m1ci commented on #45
since FREME acts as broker, this info can be also added by FREME.

[2016-10-11 14:05] borriellom opened #46 "e-Terminology and e-Translation chaining fails on one specific sentence"
When invoking e-Terminology and then e-Translation on the sentence below, e-Translation systematically fails.

*Sentence*
[code]

*Response from e-Translation*
[code]

Source language `en` - Target language `de`

It could be related to issue #43

[2016-10-11 14:32] andish commented on #43
This should be resolved. Please check,

[2016-10-11 14:43] andish commented on #46
Can you reproduce this now? just tried, it works

[2016-10-11 14:50] borriellom commented on #43
Yes, it's fixed. Thank you!

[2016-10-11 14:50] #43 closed

[2016-10-11 15:03] borriellom commented on #46
Yes, I can still reproduce it.

In order to reproduce it you have to chain the services.
You can also execute the [pipelining chain service] (https://api-dev.freme-project.eu/doc/api-doc/full.html#!/Pipelining/post_pipelining_chain) in the FREME API documentation with the following body

[code]

[2016-10-12 07:36] andish commented on #46
Thanks, I reproduced it. Will fix this.

[2016-10-12 09:46] andish commented on #46
Please check, should be resolved.

[2016-10-12 09:50] borriellom commented on #46
Yes, it's fixed. Thank you!!

[2016-10-12 09:50] #46 closed

[2016-10-12 11:44] fsasaki opened #47 "e-terminology request breaks"
See

The error message is

  "exception": "eu.freme.common.exception.ExternalServiceFailedException",
  "path": "/e-terminology/tilde",
  "message": "External service failed: {\"Message\":\"TErminology Internal server error. Reason: StringParser failed to parse the RDF string correctly, StringParser auto-detection guessed 'Turtle' but this failed to parse.  RDF string may be malformed or StringPar

[2016-10-12 11:58] andish commented on #47
Hmm, error message says than input not in correct NIF turtle For Tilde endpoint.
What is this - intype=url? Does the FREME server support such input type?

[2016-10-12 12:19] fsasaki commented on #47
See

and attachment.
[input.txt](https://github.com/freme-project/e-services/files/524375/input.txt)

[2016-10-12 12:52] jnehring commented on #39
Please do not add the configuration to `/home/u231015/freme-configs/broker-dev-private.properties` but to

* broker-dev
* broker-local
* freme-full

[2016-10-12 13:37] andish commented on #47
Fixed, please check.

[2016-10-12 14:33] bgrusdt commented on #39
Here is what I added to the [documentation](https://api-dev.freme-project.eu/doc/knowledge-base/freme-for-sysadmins/e-services.html#tilde-e-terminology). @jnehring is this ok?

[2016-10-12 14:52] fsasaki commented on #47
works, thanks!

[2016-10-12 14:52] #47 closed

[2016-10-20 08:05] jnehring commented on #31
When this is finished we need to update the API documentation. https://github.com/freme-project/e-services/issues/31 added the parameter to all e-Services except dbpedia spotlight.

[2016-10-28 13:53] m1ci opened #48 "[e-terminology] wrong URI scheme in the output"
I used https://api-dev.freme-project.eu/doc/api-doc/full.html#!/e-Translation/tildeTranslate
and used the provided example for translation with nif version 2.1.
I noticed that in the output there are triples which still use the old URI scheme (char=X,Y)

Follows the results I get:

[code]

Note the http://freme-project.eu/#char=0,12 - which is wrong.

[2016-10-31 07:32] andish commented on #48
E-terminology and e-translation services do not convert uploaded data from NIF 2.0 to NIF 2.1.
If you submit data in NIF 2.0 and say it is in NIF 2.1, then e-service will enrich with new data that are in NIF 2.1 format. Submitted data remains as it was uploaded.

[2016-10-31 07:32] m1ci commented on #48
makes sense, thanks for clarification

[2016-10-31 07:32] #48 closed

[2016-11-10 15:37] jnehring opened #49 "Update WRIPL e-Link template"
WRIPLs e-Link template (id=4496) needs to be extended to add the most frequent class to the output (see https://github.com/freme-project/freme-ner/issues/160). The SPARQL SELECT query needs to be extended.

[2016-11-11 09:08] m1ci commented on #49
should we update the e-Link on dev and live?

[2016-11-11 09:15] jnehring commented on #49
Yes both. I can provide you with the necessary admin auth tokens in case you dont have them.

[2016-11-11 11:05] jnehring commented on #49
We do not need to update the e-Link template. We need to update the WRIPL filter. I think they use the filter "entities-detailed-info" to convert linked data to JSON or CSV. @xFran am I right?

[2016-11-14 12:18] xFran commented on #49
I really don't know what "entities-detailed-info" is. I use the header Accept application/ld+json.

[2016-11-18 09:05] jnehring commented on #49
We found out that WRIPL does not use the filters so this issue is obsolete. Francisc, you can use the Most Frequent Sense on freme-dev directly and after the next release you can use it on freme-live

[2016-11-18 09:05] #49 closed

[2016-11-24 08:35] jnehring opened #50 "[e-translation] does not work after release"
I installed the latest version of e-Translation on freme-live. When I do an API request

curl -X POST -H "Cache-Control: no-cache" -H "Postman-Token: 2c523751-563a-16db-a0f3-61f2c8d90e6b" -d 'Show me the source of knowledge' "http://api.freme-project.eu/current/e-translation/tilde?informat=text&outformat=turtle&source-lang=en&target-lang=de"

It produces

[code]

[2016-11-24 09:28] jnehring commented on #50
this was a configuration issue and is fixed

[2016-11-24 09:28] #50 closed

[2016-11-28 14:07] m1ci commented on #45
whats the status of this issue? @andish @jnehring

[2016-11-29 08:28] jnehring commented on #45
We did not work on this issue. I will ask @bgrusdt to implement it in the broker.

[2016-11-29 13:40] jnehring commented on #39
Looks good. The functionality is implemented.

[2016-11-29 13:40] #39 closed

[2016-11-30 12:26] jnehring commented on #45
@bgrusdt please implement this feature in FREMECommon

* Add a new service (@Component) Nif21Helper
* It should have a function addConformsTo( Model nif, String NifVersion ) that adds the triples of the example to the output of an e-Service if it does not exist already.
* e-translation and e-terminology should call the new functionality when nif-version=2.1 is set.

[2016-12-01 16:43] bgrusdt commented on #45
I have implemented it in [this commit](https://github.com/freme-project/FREMECommon/commit/f937aca8f6a3309a6bb2138d69e7f883b0340949). I have not yet included called the new method in e-translation and e-terminology.

[2016-12-05 15:06] jnehring commented on #24
I think we can close this

[2016-12-05 15:06] #24 closed

[2016-12-06 11:01] m1ci commented on #33
@jnehring is there template that uses the snorql dbpedia interface?

[2016-12-06 11:41] jnehring commented on #33
According to http://api.freme-project.eu/current/e-link/templates there is no template that uses snorql dbpedia.

From the error message in the first comment I conclude that the error comes from this template: http://{{baseUrl}}/e-link/templates/4496

This is used by WRIPL and this explains also why the error occurs so often.

[2016-12-06 11:47] m1ci commented on #33
as for the error:

try
[code]
with
[data.txt](https://github.com/freme-project/e-services/files/633733/data.txt)

There are two http://dbpedia.org/resource/America³ entities

to me this works.

[2016-12-08 09:02] bgrusdt commented on #45
This is now included for e-translation and e-terminology.

[2016-12-08 10:02] jnehring commented on #45
Thank you! One more thing:

When the prefix parameter is set, then please change the collection also:

Example:

curl -X POST -H "Cache-Control: no-cache" -H "Postman-Token: ab7dc708-5b2e-80ca-f2ca-57fd96901c0b" -d 'Show me the source of knowledge' "http://api-dev.freme-project.eu/current/e-translation/tilde?input=Hello%2C%20world!&informat=text&outformat=turtle&source-lang=en&target-lang=de&nif-v

[2016-12-08 10:32] bgrusdt commented on #45
@jnehring I have changed this with [this commit](https://github.com/freme-project/FREMECommon/commit/2781f464d7af2cd7c4cb89f7375cf714f17cfaa6). I've also updated the calls to this method in e-translation and e-terminology.

[2016-12-08 12:04] jnehring commented on #45
ok great thanks

[2016-12-08 12:04] #45 closed

[2016-12-15 10:09] jnehring commented on #33
I will test this.

[2016-12-21 12:43] m1ci opened #53 "prefix parameter should be fixed"
The service should not append # or /.

It should be, for example, $PREFIX+"offset_0_4690" , so the # or / should be in the PREFIX

@sandroacoelho can you maybe try to fix this?

[2017-01-02 14:07] jnehring commented on #33
The CURL request works now. The error message did not appear in the log file for two weeks now. So this issue is fixed.

[2017-01-02 14:07] #33 closed

[2017-01-17 09:10] sandroacoelho commented on #31
Hi @m1ci , @jnehring

Spotlight has been updated to generate NIF 2.1. We don't need to use proxies anymore

Best,

[2017-01-17 09:12] sandroacoelho commented on #53
Hi @m1ci , sure. I will check it ASAP

[2017-01-17 09:19] jnehring commented on #31
Thank you I will test. The latest version is not installed on freme-dev because of https://github.com/freme-project/basic-services/issues/119 . I will fix it and test afterwards.

[2017-01-17 09:29] jnehring commented on #31
curl -X POST -H "Cache-Control: no-cache" -H "Postman-Token: c858ca9c-e4c8-fd55-9270-520160da243a" -d '' "http://rv1443.1blu.de/current/e-entity/dbpedia-spotlight/documents?confidence=0.3&input=This%2Bis%2BGermany&informat=text&language=en"

replies

[code]

Probably dbpedia spotlight is down right now,.

[2017-01-17 09:32] m1ci commented on #31
DBpedia spotlight now is using another endpoint and @sandroacoelho  appropriately updated it in the FREME code. I guess the  FREME instance running at http://rv1443.1blu.de/ is not using the latest code...maybe.

[2017-01-17 10:03] jnehring commented on #31
Right it did not use the latest code. I updated it and now the API request  produces NIF 2.1.

One question: @sandroacoelho did you implement a nif-version parameter? Or does DBPedia spotlight  produce nif 2.1 always?

[2017-01-17 10:31] sandroacoelho commented on #31
DBpedia Spotlight always produce NIF 2.1, but we can add this parameter there if is useful

[2017-01-17 10:42] jnehring commented on #31
Ok. I think we do not need to add the parameter. Also when there is no parameter we do not need to update the documentation. So this topic is done. Many thanks for the implementation :)

[2017-01-18 08:22] m1ci commented on #31
@sandroacoelho it seems only english is enabled for dbpedia spotlight in FREME. Can you please enable all other possible languages that are available from  this dbpedia spotlight intance?

[2017-01-18 08:23] m1ci commented on #31
@sandroacoelho please also update the documentation page

@jnehring how can we also have this updates fixed in the live instance?

[2017-01-18 10:04] jnehring opened #54 "Make sparql endpoint publicly available"
We will remove all references to our old servers from the e-link templates. Therefore we need to update the SPARQL endpoint. Please make the SPARQL endpoint publicly available at

https://api.freme-project.eu/sparql

This should be a proxy redirect from /sparql to http://localhost:8890/sparql .

We are updating the e-link template endpoints in this issue: https://github.com/freme-project/basic-ser

[2017-01-18 15:13] jnehring commented on #53
@sandroacoelho are you working on this? Can I do the release of FREME 1.0 or are you going to fix this soon?

[2017-01-18 15:14] m1ci commented on #53
@sandroacoelho there is also smth wrong with the prefix with the dbpedia spotlight

try http://rv1443.1blu.de/current/e-entity/dbpedia-spotlight/documents?language=en&dataset=dbpedia&mode=all&outformat=turtle&informat=text&input=Diego%20Maradona%20is%20from%20Argentina.

there is URI like http://freme-project.eu/#/#offset_0_14

[2017-01-21 19:41] munnellg commented on #54
Endpoint is now available

[2017-01-21 19:41] #54 closed

[2017-01-24 09:52] jnehring opened #55 "Problem with e-Link"
There is a problem with the e-Link template that the FREME workflow editor uses. I reproduced the problem in CURL. Do you know what is the issue?

[code]

produces

[code]

[2017-01-24 10:51] m1ci commented on #55
the request is using template which is defined with select query. Unfortunately, e-link templates work with construct queries only.

[2017-01-24 10:57] jnehring commented on #55
ok thanks.

[2017-01-24 10:57] #55 closed, assigned to m1ci

[2017-01-24 14:30] jnehring commented on #53
What is the state of this?

[2017-01-24 14:34] jnehring commented on #31
documentation is updated. Now there is a problem in the live instance:

http://api.freme-project.eu/current/e-entity/dbpedia-spotlight/documents?confidence=0.3&input=This+is+Germany&informat=text&language=es&outformat=turtle

produces

[code]

But it seems this was fixed on dev. @sandroacoelho did you change the codes of dbpedia spotlight after the FREME 1.0 release?

http://rv1443.1blu.de/current

[2017-01-24 14:37] m1ci commented on #31
last change to the dbpedia spotlight code has been done on Jan 18, 2017 which seems to be a day before the release. Maybe the pom version has not been updated and thus the code changes not considered in the release?

See https://github.com/freme-project/e-services/commits/master

[2017-01-24 14:40] jnehring commented on #31
I dont think so because dbpedia spotlight was released to version 1.0. Also on dev the 1.0 version is installed still. This is odd... but we need to get the dbpedia spotlight service fixed before the review.

[2017-01-25 08:01] m1ci commented on #31
actually it works, but with this request

http://api.freme-project.eu/current/e-entity/dbpedia-spotlight/documents?language=de&dataset=dbpedia&mode=all&outformat=turtle&informat=text&input=Diego%20Maradona%20is%20from%20Argentina

[2017-01-25 08:19] jnehring commented on #31
I am not sure what is the difference between your and my API request. This example has exactly the same parameters, only the input text differs. It works for "Diego Maradonna is form Argentina" and it does not work for "This is Germany":

http://api.freme-project.eu/current/e-entity/dbpedia-spotlight/documents?confidence=0.3&input=This+is+Germany&informat=text&language=es&outformat=turtle&dataset=

[2017-01-25 08:22] m1ci commented on #31
Also if you switch the language parameter from en to es, then it works. @sandroacoelho, can you investigate?

[2017-01-25 10:48] sandroacoelho commented on #31
Hi @jnehring , @m1ci,

The problem is with our Spanish DBpedia Spotlight instance. I am checking the server right now.